# requirements.txt
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Mail==0.9.1
requests==2.31.0
gunicorn==20.1.0
pandas==2.1.2
bcrypt==4.0.1
marshmallow==3.17.1
webargs==8.4.0  
alembic==1.13.2